.cases {
  padding-top: 50px;
  padding-bottom: 47px;
}

.cases-top-title {
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: #333333;
}

.cases-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: #333333;
}

.cases-text {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #333333;
}

.cases-list {
  display: flex;
  margin: 39px;
  gap: 8px;
  justify-content: center;
}
