<section class="cases">
  <p class="cases-top-title">This is what we do</p>
  <h2 class="cases-title">Business Cases</h2>
  <p class="cases-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </pc>
  <ul class="cases-list list">
    <li class="cases-link link">
      <img src="./images/image1.jpg" alt="collective meeting" width="320" height="214" />
    </li>
    <li class="cases-link link">
      <img src="./images/image2.jpg" alt="notes" width="320" height="214" />
    </li>
    <li class="cases-link link">
      <img src="./images/image3.jpg" alt="friendship" width="320" height="214" />
    </li>
    <li class="cases-link link">
      <img src="./images/image4.jpg" alt="team" width="320" height="214" />
    </li>
    <li class="cases-link link">
      <img src="./images/image5.jpg" alt="work" width="320" height="214" />
    </li>
    <li class="cases-link link">
      <img src="./images/image6.jpg" alt="skyscraper" width="320" height="214" />
    </li>
    <li class="cases-link link">
      <img src="./images/image7.jpg" alt="team leader" width="320" height="214" />
    </li>
    <li class="cases-link link">
      <img src="./images/image8.jpg" alt="team smile" width="320" height="214" />
    </li>
  </ul>
</section>
