<header class="header">
  <div class="header-container">
    <svg width="39" height="31">
      <use href="./images/symbol-defs.svg#icon-logo"></use>
    </svg>
    <a class="logo" href="./index.html"
      ><span class="logo logo--green">Finance</span> Ledger
    </a>
    <ul class="nav">
      <li class="nav__item">Home</li>
      <li class="nav__item">About</li>
      <li class="nav__item">Cases</li>
      <li class="nav__item">Blog</li>
      <li class="nav__item">Contact</li>
    </ul>
  </div>
</header>
