<section class="solutions-section">
    <img src="./images/img-solution.jpg" alt="фото команди">
    <div class="solutions-conteiner">
        <div class="solutions-modul">
        <p class="solutions-text">What you are looking for</p>
        <h2 class="solutions-title">We provide bespoke solutions
        </h2>
        <p class="solutions-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos
            quae laudantium asperiores nam
            aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
            deleniti?</p>
        <button class="solutions-btn" type="button" value="More">More</button>
        </div>
    </div>
    
</section>