<section class="team">
    <div class="team-container">
        <p class="team-pre-title">Who we are</p>
        <h2 class="team-title">Our Professional Team</h2>
        <p class="team-after-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
        <ul class="team-list">
            <li class="team-item">
                <img src="./images/team1.jpg" alt="Participant 1" class="team-img">
                <div class="team-about">
                    <h3 class="team-about-title">John Doe</h3>
                    <p class="team-about-text">President</p>
                </div>
            </li>
            <li class="team-item">
                <img src="./images/team2.jpg" alt="Participant 2" class="team-img">
                <div class="team-about">
                    <h3 class="team-about-title">Jane Doe</h3>
                    <p class="team-about-text">Vice President</p>
                </div>
            </li>
            <li class="team-item">
                <img src="./images/team3.jpg" alt="Participant 3" class="team-img">
                <div class="team-about">
                    <h3 class="team-about-title">Steve Smith</h3>
                    <p class="team-about-text">Marketing Head</p>
                </div>
            </li>
        </ul>
    </div>
</section>